html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
  padding: .75em 1em .6em;
}

header h1 {
  margin: 0 auto;
}

header p {
  font-style: italic;
  font-size: 1.125rem;
}

header img {
  order: -1;
  width: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  padding: 1em;
  text-decoration: none;
  font-size: 1.125rem;
  color: #0074d9;
}

a:hover {
  color: #fff;
}
